api_image/code/node_modules
db/db_dirs/adbs/bin/*.sh
db/db_dirs/adbs/bin/*.exe
db/db_dirs/adbs/bin/*.dll
db/db_dirs/adbs/bin/*.bat
db/db_dirs/adbs/DB_Backups/*.backup
db/db_dirs/adbs/Rpts/*.pdf
db/db_dirs/adbs/Rpts/*.xls
db/db_dirs/adbs/Rpts/*.html*
db/db_dirs/adbs/Rpts/amcharts_2100/samples/*.html*
db/initdb/pgdb/2_sample_database.sql
db/initdb/info_rhomicom.com
db/webmin
db/pgadmin
conf/psol/psol.tar.gz
src/RHO_ERP_WEB/dwnlds/amcharts_2100/samples/*.html
src/RHO_ERP_WEB/dwnlds/amcharts_2100/samples/*.pdf
src/RHO_ERP_WEB/dwnlds/tmp/*.png
src/RHO_ERP_WEB/dwnlds/tmp/*.jpg
src/RHO_ERP_WEB/dwnlds/tmp/*.pdf
src/RHO_ERP_WEB/dwnlds/tmp/*.html
src/RHO_ERP_WEB/dwnlds/tmp/*.jrxml
src/RHO_ERP_WEB/phpinfo.php
src/RHO_ERP_WEB/phpsecinfo
db/db_dirs/adbs/*.rhocnfg